elpa/
bookmarks
projectile-bookmarks.eld
auto-save-list/
transient/
var/
history
recentf
eshell/
cnfonts/
straight/
.dap-breakpoints
.lsp-session-v1
amx-items
.cache/
.lsp-session-v1
rime/luna_pinyin.userdb/
rime/build/
request/
eln-cache/
.#*
